server/src/main/resources/PaymentDocuments.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:sch="http://spring.io/guides/gs-producing-web-service"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">
            <xs:complexType name="paymentDocument">
                <xs:sequence>
                    <xs:element name="id" type="xs:int" />
                    <xs:element name="purpose" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="255" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="amount" type="xs:int" />
                    <xs:element name="sourceAccount" type="tns:account" />
                    <xs:element name="destinationAccount" type="tns:account" />
                </xs:sequence>
            </xs:complexType>

            <xs:simpleType name="account">
                <xs:restriction base="xs:string">
                    <xs:length value="10" />
                </xs:restriction>
            </xs:simpleType>

            <xs:complexType name="serviceStatus">
                <xs:sequence>
                    <xs:element name="statusCode" type="xs:string"/>
                    <xs:element name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="getPaymentDocumentByIdRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getPaymentDocumentByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="paymentDocument" type="tns:paymentDocument" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="addPaymentDocumentRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="purpose" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="255" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="amount" type="xs:int" />
                        <xs:element name="sourceAccount" type="tns:account" />
                        <xs:element name="destinationAccount" type="tns:account" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="addPaymentDocumentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceStatus" type="tns:serviceStatus" />
                        <xs:element name="paymentDocument" type="tns:paymentDocument" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="deletePaymentDocumentRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="deletePaymentDocumentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceStatus" type="tns:serviceStatus" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getAllPaymentDocumentsRequest">
                <xs:complexType />
            </xs:element>

            <xs:element name="getAllPaymentDocumentsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="paymentDocument" type="tns:paymentDocument" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getPaymentDocumentByIdRequest">
        <wsdl:part element="tns:getPaymentDocumentByIdRequest" name="getPaymentDocumentByIdRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPaymentDocumentByIdResponse">
        <wsdl:part element="tns:getPaymentDocumentByIdResponse" name="getPaymentDocumentByIdResponse"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="PaymentDocumentsPort">
        <wsdl:operation name="getPaymentDocumentById">
            <wsdl:input message="tns:getPaymentDocumentByIdRequest" name="getPaymentDocumentByIdRequest"></wsdl:input>
            <wsdl:output message="tns:getPaymentDocumentByIdResponse" name="getPaymentDocumentByIdResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="PaymentDocumentsPortSoap11" type="tns:PaymentDocumentsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getPaymentDocumentById">
            <soap:operation soapAction="" />
            <wsdl:input name="getPaymentDocumentByIdRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getPaymentDocumentByIdResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="PaymentDocumentsPortService">
        <wsdl:port binding="tns:PaymentDocumentsPortSoap11" name="PaymentDocumentsPortSoap11">
            <soap:address location="http://localhost:8080/ws" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>